* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a, p {
    color: black;
}

h2, h3, h4, h5, h6 {
    font-size: 2rem;
}

:root {
    --corJS1: #efd81d;
    --corJS2: black;
    --corCursoVideo1: #2222ff;
    --corLinksHeader: #6363f5;
    font-size: 62.5%;
}

body {
    background-color: white;
    color: white;
}

.cabecalho {
    background-color: var(--corCursoVideo1);
    padding-top: 1rem;
}

.marqueJS {
    display: block;
    background-color: var(--corJS1);
    border-bottom: .1rem solid black;
    margin-top: 1rem;
    padding: 1rem;
}

.marqueJS > h3 {    
    color: black;
}

.linkMarque {
    color: var(--corJS2);
    transition: 0.5s;
}

.marqueJS > a:hover {
    font-size: 1.25em;
}

.logo {
    display: flex;
}

.flexHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navHeader {
    font-size: 1.25em;
}

.drop {
    display: none;
    transition: .5s;
}

.navLinks.active .tituloLink {
    background-color: var(--corJS1);
    color: var(--corJS2);
    border-bottom: .1rem solid black;
}

.navLinks.active .drop {
    background-color: var(--corCursoVideo1);
    top: 4.54rem;
    position: absolute;
    display: block;
}

.navLinks.active ul li {
    background-color: var(--corJS1);
    color: var(--corJS2);
    border-bottom: .1rem solid black;
    padding: 1rem 2.05rem .5rem 2.05rem;
    width: 125%;
    text-align: center;
}

.tituloLink {
    padding: 1rem;
    font-size: 1.25em;
    cursor: pointer;
    transition: .5s;
}

.navLinks:hover .tituloLink {
    background-color: var(--corJS1);
    color: var(--corJS2);
}

.fotoLogo {
    height: 5rem;
}

.tituloHeader {
    text-align: justify;
    margin: auto 0 auto 1rem;
    transition: 0.5s;
}

.tituloHeader:hover {
    font-size: 1.25em;
}

.tituloHeader > h1 {
    color: white;
}

.autorCurso {
    font-size: medium;
}

main {
    color: black;
}

main h3 {
    margin: 1rem;
    text-align: center;
    color: black;
}

.anotacoes {
    width: 85%;
    color: black;
    margin: 3em auto 0 auto;
}

.anotacoes > p {
    line-height: 2em;
}

h2#tituloArtigo {
    text-align: center;
    margin: 0 0 2em 0;
}

.tituloArtigo, .paragrafoArtigo, .liArtigo {
color: black    ;
    margin-bottom: 3rem;
}

.console {
    border: .1rem solid black;
    background-color: white;
    border-radius: 2rem;
    height: 30rem;
    width: 60%;
    margin: 4rem auto;
}
.flexBotao {
    margin: auto 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

button {
    font-size: 1.25em;
    text-align: center;
    margin: auto;
    padding: 1.5rem;
    background-color: black;
    color: #efd81d;
}

form {
    margin: 2em 0 0 2em;
}

legend {
    margin: 0 0 0.5em 0;
}

.tituloCodigo {
    font-size: larger;
    text-align: justify;
    border-radius: 1em 1em 0 0;
    margin: -1rem 0 9em 0;
    background-color: black;
    padding: 0.5em 0.75em;
    color: var(--corJS1);
}

.cabecalhoCodigo {
    margin: 1rem 0;
}

.interface {
    background-color: white;
    margin: 0 0 0 0;
    width: 500;
    height: 400;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    color: black;
}

.rodape {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    border-top: .1rem solid white;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: black;
}

.rodape a {
    color: white;
}

.navContatos {
    text-align: center;
    margin: 1rem auto;
    width: fit-content;
}

.tituloRodape {
    font-size: 1.75em;
    margin: 3.5rem 0;
    text-align: center;
    transition: 0.5s;
}

.flexContatos {
    display: flex;
    align-items: center;
    margin: 1rem auto;
}

.linkContatos {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.fotoContato {
    height: 8rem;
    width: 8rem;
    margin: auto 0;
}

.listaContatos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.liContatos {
    margin-bottom: 1em;
}

.linkContatos {
    text-align: justify;
    margin-right: 0.75em;
    font-size: 2.5em;
    transition: 0.5s;
}

.linkContatos:hover {
    font-size: 3em;
}

@media (max-width: 690) {

    .tituloRodape {
        margin: 1em 0 0 0;
        font-size: 1.5rem;
    }
    .liContatos {
        font-size: 0.75em;
    }

}

@media (max-width: 455px) {

    .navLinks{
        visibility: hidden;
    }

}

@media (max-width: 35rem) {

    .tituloHeader {
        font-size: 0.75em;
        text-align: left;
    }

    .marqueJS > a {
        font-size: 0.75em;        
    }

    .console {
        width: fit-content;
    }
    
}

@media (max-width: 300) {    

    .tituloRodape {
        text-align: left;
    }

    .linkContatos {
        font-size: 2.1em;
    }

    .flexContatos {
        margin-top: .5rem;
    }

}