footer {

    h2 {
        color: white;
        text-align: center;
    }

    a {
        font-size: 2rem;
        color: white;
        text-decoration: none;
    }

    .social-media {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    gap: 3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100;
    background-color: black;
}