.top-header {

    .brand {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.5rem;
        font-weight: bold;
    }

    nav {
        ul {
            display: flex;
            gap: 1.5rem;
            font-size: 2rem;
        }
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50rem;
    width: 100%;

    padding: 1rem;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    background-color: $yellow-js;
    padding-top: 1rem;
}